:root{
    --yellow:#f2e713;
    --grey:rgb(43, 42, 42);
}


.main{
    border: 0px solid white;
    width:  80%;
    height: 70vh;
    transform: translateX(12%);
    padding: 20px;
}

.cardcon{
    width: 100%;
    height: 90%;
    border: 0px solid white;
    display: flex;

   
}

.card{
    width: 50%;
    height: 100%;
    border: 0px solid white;
}

.card:nth-child(1){
    border-left: 8px solid var(--yellow);
    overflow-x: hidden;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.info{
    transform: translateX(-10vw);
    transition: .3s;
    opacity: .5;
}

.info_open{
    transform: translateX(0vw);
    transition: .3s;
    opacity: 1;
    margin-left: 20px;

}

.info_open h3{
    font-size: 25px;
}

.info_open p{
    color: var(--yellow);
}

.info_open svg{
    width: 30px;
    transition: .3s;
}

.info_open svg:hover{
  transform: translateY(-1vh);
}

.card:nth-child(2){
    border-bottom: 4px solid var(--yellow);
    border-top: 4px solid var(--yellow);
}

.sendmsg{
    font-size: 30px;
    text-align: center;
}

.contactform{
    width: 80%;
    height: 80%;
    border: 0px solid white;
    transform: translateX(10%);
    background-color: var(--grey);
}

.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-top: 30px;
    
}

.form input{
    width: 80%;
    height: 40px;
    padding-left: 10px;
}

.form textarea{
    width: 82%;
    height: 170px;
    padding-left: 10px;
    padding-top: 10px;
}

.submit{
    width:  90%;
    display: flex;
    justify-content: center;
    transform: translateX(2%);
    border: 0px solid;
    gap: 30px;
}

.form button{
    background-color: var(--yellow);
    color: black;
    border-width: 0px;
    border-radius: 5px;
    box-shadow: 1px 1px 6px black;
    transition: .2s;
    padding: 15px;
    transform: translateY(-1vh);
}

.form button:hover{
    transform: translateY(-2vh);
    background-color: black;
    color: white;
}

@media ((max-width:490px) and (min-width:350px)) {
    :root{
        --yellow:#f2e713;
        --grey:rgb(43, 42, 42);
    }
    
    
    .main{
        border: 0px solid white;
        width:  fit-content;
        height: fit-content;
        padding: 20px;
        transform: translateY(80vh);

    }
    
    .cardcon{
        width: 100%;
        height: 90%;
        border: 0px solid white;
        display: flex;
        flex-direction: column;
        gap: 30px;
       
    }
    
    .card{
        width: 50%;
        height: 100%;
        border: 0px solid white;
    }
    
    .card:nth-child(1){
        border-left: 8px solid var(--yellow);
        overflow-x: hidden;
        gap: 20px;
        display: flex;
        flex-direction: column;
        padding-right: 20px;
    
    }
    
    .info{
        transform: translateX(-10vw);
        transition: .3s;
        opacity: .5;
    }
    
    .info_open{
        transform: translateX(0vw);
        transition: .3s;
        opacity: 1;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: start;
        border: 0px solid;
        justify-content: left;
        
    }
    
    .info_open h3{
        font-size: 25px;
    
    }
    
    .info_open p{
        color: var(--yellow);
        font-size: 15px;
        text-align: left;
        transform: translateX(0vw);
    }
    
    .info_open svg{
        width: 30px;
        transition: .3s;
    }
    
    .info_open svg:hover{
      transform: translateY(-1vh);
    }
    
    .card:nth-child(2){
        width: 100%;
        border-bottom: 4px solid var(--yellow);
        border-top: 4px solid var(--yellow);
    }
    
    .sendmsg{
        font-size: 30px;
        text-align: left;
    }
    
    .contactform{
        width: 90vw;
        height: 90%;
        border: 0px solid white;
        transform: translateX(0%);
        background-color: var(--grey);
    }
    
    .form{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding-top: 30px;
        
    }
    
    .form input{
        width: 80%;
        height: 40px;
        padding-left: 10px;
    }
    
    .form textarea{
        width: 82%;
        height: 170px;
        padding-left: 10px;
        padding-top: 10px;
    }
    
    .submit{
        width:  90%;
        display: flex;
        justify-content: center;
        transform: translateX(2%);
        border: 0px solid;
        gap: 30px;
    }
    
    .form button{
        background-color: var(--yellow);
        color: black;
        border-width: 0px;
        border-radius: 5px;
        box-shadow: 1px 1px 6px black;
        transition: .2s;
        padding: 15px;
        transform: translateY(-1vh);
    }
    
    .form button:hover{
        transform: translateY(-2vh);
        background-color: black;
        color: white;
    }
}